/* src/components/NavigationRail.css */
.navigation-rail {
    width: 260px;
    border-right: 1px solid #010101;
    background-color: #27292b;
    color: #f9f8f7;
  }
  
  .nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .nav-buttons h1 {
    font-size: 1.5rem;
    margin-bottom: 12px;
    color: #f9f8f7;
  }
  
  .nav-buttons h2 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 1.25rem;
    color: #b8bdc2;
  }
  
  .nav-btn {
    border-radius: 4px;
    border: 1px solid #444;
    padding: 8px 12px;
    text-align: left;
    cursor: pointer;
    background-color: #323437;
    color: #f9f8f7;
  }
  
  .nav-btn.active {
    background-color: #f9f8f7;
    color: #27292b;
  }
  